@tailwind base;
@tailwind components;
@tailwind utilities;

.panel {
  background-color: var(--panel);
  box-shadow: 0 0 4px var(--panel-shadow);
  border: 1px solid var(--panel-border);
}

/* Toolbox */
#navigator-toolbox-background {
  background-color: var(--frame, --frame-inactive);
}

#navigator-toolbox {
  background-image: var(--theme-frame, var(--additional-backgrounds));
  background-position: var(--additional-backgrounds-alignment, right top);
  background-repeat: var(--additional-backgrounds-tiling, no-repeat);
  background-size: auto;
  border-bottom: 1px solid var(--toolbar-bottom-separator, rgba(0, 0, 0, 0.3));
}

#browser-toolbar {
  border-top: 1px solid var(--toolbar-top-separator, rgba(0, 0, 0, 0.3));
}

#tabs {
  -webkit-app-region: drag;
  app-region: drag;
}

/* Tabs */
#tab-background,
#opentab {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

#tab-background:not([data-active="true"]) {
  color: var(--tab-background-text);
}

#tab-background:not([data-active="true"]):hover {
  background-color: color-mix(in srgb, currentColor 11%, transparent);
}

#tab-background[data-active="true"] {
  color: var(--tab-text, var(--toolbar-text, var(--tab-background-text)));
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--tab-line, currentColor);
  background-image: linear-gradient(
      var(--tab-selected, transparent),
      var(--tab-selected, transparent)
    ),
    linear-gradient(
      var(--toolbar, rgba(255, 255, 255, 0.4)),
      var(--toolbar, rgba(255, 255, 255, 0.4))
    );
}

.close-icon:hover {
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

#tab-throbber {
  background-color: var(
    --tab-loading,
    var(--tab-text, var(--toolbar-text, var(--tab-background-text)))
  );
  -webkit-mask-image: url("/icons/loading.svg");
  mask-image: url("/icons/loading.svg");
  animation: tab-throbber-animation 2s steps(60) infinite;
}

@keyframes tab-throbber-animation {
  100% {
    transform: translateX(-960px);
  }
}

/* Toolbar */
#browser-toolbar,
#PersonalToolbar {
  background-color: var(--toolbar, rgba(255, 255, 255, 0.4));
}

#urlbar {
  color: var(--toolbar-field-text);
  background-color: var(--toolbar-field, rgba(255, 255, 255, 0.8));
  border: 1px solid var(--toolbar-field-border, transparent);
}

/* FIXME: Likely needs JS */
#urlbarL:has(input:active) {
  border: 1px solid var(--toolbar-field-border-focus, transparent);
}

/* FIXME: Likely needs JS */
#urlbarL:has(input:active) {
  background-color: 1px solid var(--toolbar-field-focus, transparent);
}

/* FIXME: Likely needs JS */
#urlbarL:has(input:active) {
  color: 1px solid var(--toolbar-field-focus-text, transparent);
}

#urlbar input::placeholder {
  color: currentColor;
  opacity: 0.69;
}

#urlbar input::selection {
  color: var(--toolbar-field-highlight-text, currentColor);
  background-color: var(--toolbar-field-highlight, rgba(0, 128, 255, 0.5));
}

.toolbarbutton-1 {
  color: var(--icons, var(--toolbar-text, var(--tab-background-text)));
}

.toolbarbutton-1:hover,
.toolbarbutton-1:active,
.toolbarbutton-1[data-active="true"] {
  background-color: var(--button-hover);
}

/* Toolbar Menu */
.appmenu {
}
.appmenu-item[data-disabled="true"] {
  color: var(--panel-text-disabled);
  pointer-events: none;
}
.appmenu-item[data-disabled="false"]:hover,
.appmenu-item[data-disabled="false"]:active {
  background-color: var(--button-hover);
}

.appmenu-separator {
  border: 1px solid var(--panel-text-disabled);
}
.appmenu-separator-title {
  color: var(--panel-text-disabled);
}

/* New tab page */
#ntp {
  color: var(--ntp-text);
  background-color: var(--ntp-background);
}

#ntp input {
  background-color: rgba(255, 255, 255, 0.2);
}

#ntp #logo {
  background-color: currentColor;
  -webkit-mask: url(/icons/velocity.svg) no-repeat center;
  mask: url(icons/velocity.svg) no-repeat center;
}

