@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-animation {
  -webkit-mask-image: url("/icons/loading.svg");
  mask-image: url("/icons/loading.svg");
  animation: tab-throbber-animation 2s steps(60) infinite;
}

@keyframes tab-throbber-animation {
  100% {
    transform: translateX(-960px);
  }
}
